# Build directories
lib/build/
try/build/

# Object files
*.o
*.a

# Tentative files
*.ok
*.old
*.org

# Executables
a.out
test_lanczos_first
test_flset
test_fd_base

# Others
*.kdev4
*.code-workspace
fil_psi
blkfil_hpsimat
